@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:wght@600&family=Roboto+Condensed:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

*::selection {
	background-color: yellow;
	color: black;
}

body {
	background: url(./backdrop.png);
	height: 100vh;
	width: 100vw;
	background-size: contain;
	overflow: hidden;
}

header {
	width: 100%;
	padding: 20px;
	box-shadow: 0px 9px 20px 1px #7d7d7d;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}

input {
	position: absolute;
	background: transparent;
	outline: none;
	border: 0px;
	border-bottom: 2px solid white;
	width: 126px;
	left: 50.5%;
	transform: translate(-50%, 0%);
	top: 75px;
	color: #fff;
	font-family: "Roboto Condensed", cursive;
	font-weight: 500;
	font-size: 14px;
}

button {
	background: #2196f3;
	border: 0;
	position: absolute;
	padding: 0px 5px;
	left: 50%;
	transform: translate(87px, 0%);
	top: 80px;
	color: #fff;
	cursor: pointer;
}

button:active > span {
	position: relative;
	animation: jiggle 1s
		linear(
			0 0%,
			0 1.8%,
			0.01 3.6%,
			0.03 6.35%,
			0.07 9.1%,
			0.13 11.4%,
			0.19 13.4%,
			0.27 15%,
			0.34 16.1%,
			0.54 18.35%,
			0.66 20.6%,
			0.72 22.4%,
			0.77 24.6%,
			0.81 27.3%,
			0.85 30.4%,
			0.88 35.1%,
			0.92 40.6%,
			0.94 47.2%,
			0.96 55%,
			0.98 64%,
			0.99 74.4%,
			1 86.4%,
			1 100%
		)
		0s 1;
}

@keyframes jiggle {
	0% {
		left: 0px;
	}
	25% {
		left: -5px;
	}
	75% {
		left: 5px;
	}
	100% {
		left: 0px;
	}
}
.material-symbols-outlined {
	font-size: 20px !important;
}

section {
	width: 100%;
	height: calc(100% - 140px);
	overflow: auto;
	user-select: auto;
	color: #fff;
	font-family: "Poppins", cursive;
	font-size: 24px;
}

ul {
	width: 100%;
	height: 100%;
}
/* Custom bullet */
li::before {
	content: "•";
	margin-right: 8px;
}

li.dragging {
	opacity: 0.5;
}

li > div {
	display: inline-block;
	width: calc(100% - 45px);
}

li > div > div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

li .material-symbols-outlined {
	cursor: pointer;
}

li .material-symbols-outlined:hover {
	color: #f44336;
}

@media (max-width: 600px) {
	section {
		height: calc(100% - 200px);
	}
}
